<footer class="footer">  
    
        <section class="column">
            
            <h3 class="store-title">Tienda</h3>
            <ul class="list">
                <li>
                    <a class="link-footer" href="https://www.westwingnow.es/muebles/">Productos</a>
                </li>

                <li>
                    <a class="link-footer" href="https://kavehome.com/es/es/comodas-cajoneras">Cajoneras</a>
                </li>

                <li>
                    <a class="link-footer" href="https://kavehome.com/es/es/decoracion-accesorios">Para toda la casa</a>
                </li>

                <li>
                    <a class="link-footer" href="https://kenayhome.com/es/52-dormitorios">Habitaciones</a>
                </li>
            </ul>
        </section>
    

        <section class="column">
            <h3 class="list-title">Nosotros</h3>
            <ul class="list">
                <li>
                    <a class="link-footer" href="https://www.vistedecoratucasa.com/disena-tu-casa-guia-practica-de-decoracion/">Nuestra Guía</a>
                </li>

                <li>
                    <a class="link-footer" href="https://www.banni.es/proyectos-interiorismo/?gclid=EAIaIQobChMI4tCPk4m_9gIVKZBoCR27ugMrEAAYASAAEgKzZvD_BwE">Nuestro diseño</a>
                </li>

                <li>
                    <a class="link-footer" href="https://www.ikea.com/es/es/this-is-ikea/about-us/nuestra-historia-pubad29a981">Nuestra historia</a>
                </li>

                <li>
                    <a class="link-footer" href="./index.html#team">Ayuda</a>
                </li>
            </ul>
        </section>

        <section class="column">
            <h3 class="list-title">Contacto</h3>
            <ul class="list">
                <li>
                    <a class="link-footer" href="./index.html#team">Nuestra Guía</a>
                </li>

                <li>
                    <a class="link-footer" href="./index.html#team">Socios</a>
                </li>
            </ul>
        </section>

        <div>
                
        </div>


</footer> 