<section class="section-1">

    <h2 class="title2">Volverse organizado se siente mejor con OPEN SPACES</h2>

    <section class="wrapper1">
        <article>
            <img class="table" src="./assets/images/icon_1.png" alt="Icono mesa con objetos de hogar">

            <h3 class="title-need">Lo que necesitas</h3>

            <p class="text-need">Una línea de productos diseñados para todos tus espacios</p>
        </article>  
    
        <article>

            <img class="bag" src="./assets/images/icon_2.png" alt="Icono bolsa reciclaje">

            <h3 class="title-materias">Materias primas sostenibles</h3>

            <p class="text-materias">Todos los productos con materias primas sostenibles</p>
        </article>

     <article>
            <img class="guide" src="/assets/images/icon_3.png" alt="Icono simulando una guía">

         <h3 class="title-guide">Guía</h3>

            <p class="text-guide">Soporte y asesoramiento para ayudarte con tu objetivo</p>
        </article>

    </section>

</section>