<section class="section-1">
    <article>
        <h2 class="title2">Volverse organizado se siente mejor con OPEN SPACES</h2>

        <img class="icon1" src="./assets/images/icon_1.png" alt="Icono mesa con objetos de hogar">

        <h3>Lo que necesitas</h3>

        <p>Una línea de productos diseñados para todos tus espacios</p>
    </article>


    <article>
        <img src="./assets/images/icon_2.png" alt="Icono bolsa reciclaje">

        <h3>Materias primas sostenibles</h3>

        <p>Todos los productos con materias primas sostenibles</p>
    </article>


    <article>
        <img src="/assets/images/icon_3.png" alt="Icono simulando una guía">
        <h3>Guía</h3>
        <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
    </article>
</section>