:root {
  /*colours*/
  --green: #0c474b;
  --ligth-green: #0c474b;
  --background-color-light: #f0ebe5;
  --background-color-orange: #ff975a;
  --blue: #b6c8c9;

  /*texts style*/
  --font-size-h1-h2: 24px;
  --font-size-h3: 20px;
  --font-size-text: 16;
  --text-align-center: center;
}

$colorGreen: #0c474b;
$fontSizeBig: 24px;
$fontSizeMedium: 20px;
$fontSizeSmall: 16px;
