:root {
  /*colours*/
  --green: #0c474b;
  --ligth-green: #0c474b;
  --background-color-light: #f0ebe5;
  --background-color-orange: #ff975a;
  --blue: #b6c8c9;
  /*texts style*/
  --font-size-h1-h2: 24px;
  --font-size-h3: 20px;
  --font-size-text: 16;
  --text-align-center: center; }

* {
  margin: 0;
  padding: 0;
  background-size: auto; }

.header {
  background-image: url("../images/header.jpg");
  align-items: center;
  background-size: cover;
  background-position: center;
  width: 100vw; }

.head {
  width: 100vw;
  list-style: none;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.bars {
  display: flex;
  justify-content: flex-start;
  margin: 55px 43px 136px 33px;
  width: 24x;
  height: 24px; }

.logo {
  margin: 19px 101px 100px 0px;
  width: 213px;
  height: 96px; }

.main {
  align-items: center;
  display: flex;
  flex-direction: column; }

/*END OF HEADER MENU AND LOGO*/
.title {
  display: flex;
  justify-content: flex-start;
  padding-top: 215px;
  padding-bottom: 0px;
  color: var(--green);
  font-size: 24px; }

.button {
  margin: 12px 119px 64px 119px;
  width: 176px;
  height: 48px;
  font-size: 16px;
  color: white;
  background-color: var(--green); }

.button:hover {
  transform: scale(1.2);
  transition-duration: 0.65s; }

.section-1 {
  background-color: var(--background-color-light);
  text-align: var(--text-align-center);
  color: var(--green);
  width: 100vw;
  height: 1024px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vw; }

.wrapper {
  grid-template-columns: 1fr;
  grid-template-columns: 100vw; }

.title2 {
  font-size: var(--font-size-h1-h2);
  color: var(--green-titles);
  margin: 41px 47px 0px 45px;
  width: 322px;
  grid-column-start: 1;
  grid-column-end: 1; }

.table {
  margin-top: 37px;
  width: 90px;
  height: 90px;
  grid-column-start: 1;
  grid-column-end: 1; }

.title-need {
  margin-top: 47px;
  font-size: var(--font-size-h3);
  grid-column-start: 1;
  grid-column-end: 1; }

.text {
  margin: 12px 100px 0px 106px;
  font-size: var(--font-size-);
  width: 208px;
  color: var(--ligth-green);
  grid-column-start: 1;
  grid-column-end: 1; }

.bag {
  margin-top: 40.5px;
  width: 90px;
  height: 90px;
  grid-column-start: 1;
  grid-column-end: 1; }

.title-materias {
  margin: 42px 59px 0px 64px;
  width: 291px;
  font-size: var(--font-size-h3);
  grid-column-start: 1;
  grid-column-end: 1; }

.guide {
  margin-top: 31px;
  width: 90px;
  height: 90px;
  grid-column-start: 1;
  grid-column-end: 1; }

.title-guide {
  margin-top: 37.5px;
  font-size: var(--font-size-h3);
  grid-column-start: 1;
  grid-column-end: 1; }

.section-2 {
  background-color: var(--background-color-orange);
  width: auto;
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw; }

.truck {
  width: 120px;
  margin: 46px 152px 0px 142px; }

.delivery {
  margin-top: 10px;
  text-align: center;
  color: white;
  font-size: var(--font-size-h1-h2);
  font-weight: 600; }

.delivery-text {
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: normal; }

.buy-button {
  margin: 5px 124px 51px 115px;
  padding: 12px 24px;
  width: 127px;
  height: 24px;
  text-align: center;
  color: white;
  background-color: transparent;
  font-family: var(--font-size-text);
  font-size: var(--font-size-text); }

.section-3 {
  background-color: var(--background-color-light);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  text-align: center;
  width: 100vw; }

.enjoy-title {
  font-size: var(--font-size-h1-h2);
  color: var(--green);
  margin-top: 87px;
  grid-column-start: 1;
  margin-right: 27px;
  margin-left: 27px; }

.products-text {
  font-size: var(--font-size-text);
  color: var(--green);
  grid-column-start: 1;
  margin: 10px 27px 0px 27px; }

.button {
  margin: 25px 116px 92px 122px;
  font-size: var(--font-size-text);
  color: white;
  padding: 12px 24px 12px 24px;
  background-color: var(--green);
  border: none; }

.button:hover {
  transform: scale(1.2);
  transition-duration: 0.65s; }

.bathroom-image {
  width: 100vw;
  height: 304px;
  background-position: center; }

.footer {
  list-style: none;
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  background-color: var(--green);
  color: var(--blue);
  list-style: none;
  padding-bottom: 56px; }

.list {
  list-style-type: none;
  color: var(--blue); }

.column {
  margin: 20px 59px 0px 146px;
  align-items: center; }

.store-title {
  margin-top: 56px; }

.list-title {
  margin-top: 20px; }

.main__list {
  padding-left: 2rem;
  padding-bottom: 20px; }

/*# sourceMappingURL=main.css.map */
