.header {
  background-image: url("../images/header.jpg");
  align-items: center;
  background-size: cover;
  background-position: center;
  width: 100vw;
}

.head {
  width: 100vw;
  list-style: none;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bars {
  display: flex;
  justify-content: flex-start;
  padding-top: 55px;
  width: 24x;
  height: 24px;
}

.logo {
  margin-top: 19px;
  width: 213px;
  height: 96px;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/*END OF HEADER MENU AND LOGO*/

.title {
  display: flex;
  justify-content: flex-start;
  padding-top: 215px;
  padding-bottom: 0px;
  color: var(--green);
  font-size: 24px;
}

.button {
  padding: 12px 24px 12px 24px;
  margin: 24px 119px 64px 119px;
  width: 176px;
  height: 48px;
  font-size: 16px;
  color: white;
  background-color: var(--green);
}
