$colorGreen: #0c474b;
$fontSizeBig: 24px;
$fontSizeMedium: 20px;
$fontSizeSmall: 16px;

.section-1 {
  background-color: var(--background-color-light);
  text-align: var(--text-align-center);
  width: 100vw;
  font-family: "Poppins";
  color: $colorGreen;
}

.title2 {
  margin: 41px auto auto auto;
  width: 322px;
  grid-column-start: 1;
  grid-column-end: 1;
  font-size: $fontSizeBig;
}

.wrapper1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 100vw;
}

.table {
  margin: 37px auto auto auto;
  width: 90px;
  height: 90px;
  grid-column-start: 1;
  grid-column-end: 1;
}

.title-need {
  margin-top: 47px;
  grid-column-start: 1;
  grid-column-end: 1;
  font-size: $fontSizeMedium;
}

.text {
  margin: 12px auto 18px auto;
  font-size: var(--font-size-);
  width: 208px;
  grid-column-start: 1;
  grid-column-end: 1;
  margin-bottom: 18px;
}

.wrapper2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 100vw;
}

.bag {
  margin: 40.5px auto auto auto;
  width: 90px;
  height: 90px;
  grid-column-start: 1;
  grid-column-end: 1;
}

.title-materias {
  margin: 42px auto auto auto;
  width: 291px;
  grid-column-start: 1;
  grid-column-end: 1;
  font-size: $fontSizeMedium;
}

.wrapper3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 100vw;
}
body {
  background-color: var(--background-color-light);
}

.guide {
  margin: 40px auto auto auto;
  width: 90px;
  height: 90px;
  grid-column-start: 1;
  grid-column-end: 1;
}

.title-guide {
  margin: 37.5px auto 0px auto;
  grid-column-start: 1;
  grid-column-end: 1;
  font-size: $fontSizeMedium;
}

@media all and (min-width: 900px) {
  .title2 {
    width: 799px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
  }

  .table {
    width: 90px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 40px 163px 0px 150px;
  }

  .bag {
    width: 90px;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 54px 157px 0px 163px;
  }

  .guide {
    width: 90px;
    grid-column-start: 3;
    grid-column-end: 3;
    margin: 56px 160px 0px 157px;
  }

  .h3 {
    width: 208px;
    margin: 40px;
  }
}
